{% extends "pyjama_portfolio/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}

<p class=homepage-content>
    Ever wanted to "play the market"? <br/>
    To feel the thrill of thousands of dollars passing through your possession? <br/>
    To know that your banker keeps having to knock out walls adjoining your vault to make space for your growing wad?<br/>
    <br/><br/>
    Of course you have. So why haven't you started?<br/>
    <br/><br/>
    Lack of capital? <br/>
    Lack of willpower? <br/>
    The notion that trading stocks is only something for Boss Tweed to do while waiting for somebody to prepare his grindstone for the faces of the poor?<br/>
    <strong>Throw such notions aside.</strong><br/>
    Through the use of this fantastic web app, you can buy and sell stocks with <strong>virtual money.</strong><br/>
    You heard it. <em>Virtual money.</em> Money that doesn't exist. Since the money you use doesn't exist, <em>you don't have to pay a cent to get started.</em><br/>
    The best part: You don't even have to buy a fancy suit or shout over sleezy stockbrokers. You can trade these stocks from the comfort of your home, or even the comfort of your bed if you feel like it.<br/>
    Of course, since the money doesn't actually exist, neither do the stocks you buy or the money you get paid back with.<br/>
    But that doesn't matter. After all, after you learn how to play, you can take these skills into the real market and make some dough.<br/>
    Or you could become a virtual centillionaire.<br/>
    Your choice.<br/>
</p>
{% endblock %}