{% extends "pyjama_portfolio/layout.html" %}
{% block title %}
See them stocks
{% endblock %}
{% block content %}
<form method="POST" action="../stock_search/">
    {% csrf_token %}
    <input type="text" name="textfield">
    <br/>
    enter something rad
    <br/>
    <button type="submit">Search for Stock</button>
    <br/>
    {% if code == "invalid" %}
    <p>There doesn't appear to be a stock with the symbol "{{ stock_symbol }}".<br/>
        Try a different symbol.
    </p>
    {% elif code == "empty" %}
    <p>Enter a stock to get started.</p>
    {% elif code == "ok" %}
    <p>Most recent (current or yesterday's closing) {{ stock_symbol }} stock price: $ {{ stock_price }}</p>
    {% endif %}
</form>
{% endblock %}